
@import url('https://fonts.googleapis.com/css?family=Germania+One');

// 1. Your custom variables and variable overwrites.
@import "./theme.scss";

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// // 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

html {
  font-family: "Germania One", cursive;
}


.uk-offcanvas {
  display: block;
}

#stock-choice {
  color: white;

  &:hover {
    color: white;
  }
}

#search-bar-container {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;  
  color: #cdd0d2;
  background-color: #39424d;
  text-align: left;
  display: flex;
  flex-direction: column;
  input {
    background-color: rgba(0,0,0,0);
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    caret-color: #081421;
    color: whitesmoke;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -.005em;
    &:focus {
      outline: 0;    
    }
  }
}


// body {
//   font-family: "Permanent Marker", cursive;
//   margin: $spacing-xs;
//   margin: $layout-sm $layout-2xs;
//   margin: $spacing-xl 0 $spacing-sm 0;
//   margin-right: $layout-lg;
//   padding: $spacing-sm;
//   padding: $layout-lg $layout-sm;
//   padding: $spacing-xl $spacing-sm 0 $spacing-sm;
//   padding-left: $spacing-auto;
// }
// html {
//   margin: $spacing-xs;
//   margin: $layout-sm $layout-2xs;
//   margin: $spacing-xl 0 $spacing-sm 0;
//   margin-right: $layout-lg;
//   padding: $spacing-sm;
//   padding: $layout-lg $layout-sm;
//   padding: $spacing-xl $spacing-sm 0 $spacing-sm;
//   padding-left: $spacing-auto;
// }
